## Part 1

In [1]:
with open("input.txt", "r", encoding="utf-8") as f:
    input = input = f.read().split('\n')

In [2]:
import numpy as np

In [3]:
line_len = len(str(input[0]))

In [4]:
lists = []

In [5]:
for line in input:
    lists.append(np.asarray([int(s) for s in line]))

In [6]:
data_array = np.asarray(lists)

In [7]:
counts = np.bincount(data_array[:, 0])
print(np.argmax(counts))

0

In [8]:
def most_common(arr, epsilon=False):
    counts = np.bincount(arr)
    most_common = np.argmax(counts)
    if epsilon:
        if most_common == 0:
            most_common = 1
        else:
            most_common = 0

    return str(most_common)

In [9]:
gamma = ''
epsilon = ''

for i in range(len(input[0])):
    gamma += most_common(data_array[:, i])
    epsilon += most_common(data_array[:, i], epsilon=True)

In [10]:
gamma

'010001110111'

In [11]:
epsilon

'101110001000'

In [12]:
int(gamma, 2) * int(epsilon, 2)

3374136

## Part 2

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(data_array)

In [15]:
cols = [chr(col + 97) for col in df.columns]

In [16]:
df.columns = cols

In [17]:
def most_common(series, c02=False):
    if len(series.value_counts()) == 1:
        num = series.value_counts().index[0]
    
    elif series.value_counts().loc[0] == series.value_counts().loc[1]:
        num = 1
    
    else:
        num = series.value_counts().index[0]
    
    if c02:
        if num == 1:
            num = 0
        else:
            num = 1

    return num

In [18]:
def keep_common(df_orig, c02=False):
    df = df_orig.copy()
    
    for col in df:
        
        if df.shape[0] == 1:
            return df
        
        most_common_num = most_common(df[col], c02=c02)
        
        df = df[df[col] == most_common_num]
    
    return df

In [19]:
keep_common(df)

     a  b  c  d  e  f  g  h  i  j  k  l
793  0  1  1  1  0  1  1  1  0  1  0  1

In [20]:
keep_common(df, c02=True)

     a  b  c  d  e  f  g  h  i  j  k  l
517  1  0  0  1  0  0  0  1  0  0  1  0

In [21]:
oxygen = ''

for s in keep_common(df).to_numpy()[0]:
    oxygen += str(s)

In [22]:
oxygen

'011101110101'

In [23]:
carbon = ''

for s in keep_common(df, c02=True).to_numpy()[0]:
    carbon += str(s)

In [24]:
carbon

'100100010010'

In [25]:
int(oxygen, 2) * int(carbon, 2)

4432698